USE [QuanLyNhanVien]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/9/2023 2:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [char](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIA_CHI] [nvarchar](max) NULL,
	[LUONG] [money] NULL,
	[MA_NQL] [char](10) NULL,
	[PHONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
